body {
	font-family: "Roboto";
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1f2937;
	padding: 0px 200px;
}

.logo-banner {
	flex-shrink: 0;
}

.navigation {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 16px;
}

.secondary,a:visited, li a {
	color: #e5e7eb;
	font-size: 18px;
	text-decoration: none;
}

.footer {
	display: flex;
	height: 54px;
	background-color: #1f2937;
	justify-content: center;
	align-items: center;
}

.hero {
	display: flex;
	padding: 48px 200px;
	background-color: #1f2937;
	justify-content: space-between;
	gap:12px;
	height: fit-content;
}

.hero-content {
	display: flex;
	flex-direction: column;
	width:50%;
	gap: 12px;
}

.hero-main {
	color:#f9faf8;
	font-size: 48px;
	font-weight: 900;
}

h1,p {
	margin: 0;
}

.sign-up {
	max-width: fit-content;
	padding: 5px 20px;
	background-color: #3882f6;
	color:#e5e7eb;
	border: none;
	border-radius: 5px;
}